.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    background-color: white;
}

.numberCalculator{
    display: flex;
    flex-direction: column;
}

.border-secondary{
    height: 7rem;
    background-color: rgb(236, 236, 236);
}

.border-dark{
    height: 8rem;
    background-color: rgb(216, 216, 215);
}

.btn-success{
    size: 20rem;
}