.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    background-color: white;
}

.numberCalculator{
    display: flex;
    flex-direction: column;
}

.border-secondary{
    height: 7rem;
    background-color: rgb(247, 245, 245);
}

.border-dark{
    height: 8rem;
    background-color: rgb(231, 231, 230);
}

.btn-success{
    size: 20rem;
}

#firstNumber{
    font-size: 2rem;
}

#secondNumber{
    font-size: 5rem;
}